body {
    font-family: 'Roboto Slab';
    background-color: #EFEBE9;
    margin: 0;
    padding: 0;
}

*{
    margin: 0px;
    padding: 0px;
}

.input-container label {
    display: block;
    margin-bottom: 1px; /* Увеличенное расстояние снизу от метки */
    margin-top: 5px;
    font-size: 1.5rem; /* Увеличение размера текста над полями ввода */
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.white-rectangle {
    background-color: #fff;
    border: 1px solid #f0f0f0; /* Острые углы */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Увеличенная ширина прямоугольника */
    height: 400px; /* Автоматическая высота */
    position: relative;
}

.exit {
    position: absolute;
    top: 10px;
    left: 10px;
}

.exit a {
    text-decoration: none;
    color: #000;
    border: solid;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.exit a:hover {
    color: #2E7204;
}

.input-container {
    margin-bottom: 15px;
}

.title {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: #2E7204;
}

#login, #password {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

.checkbox-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.link {
    display: flex;
    flex-direction: column; /* Размещает ссылки друг под другом */
    align-items: center; /* Выровнять ссылки по центру */
    gap: 20px; /* Промежуток между ссылками */
    margin-top: 20px;
}

.link a {
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem; /* Размер текста */
    background-color: #f0f0f0; /* Цвет фона */
    border-radius: 5px; /* Скругленные углы */
    transition: background-color 0.3s ease;
}

.link a:hover {
    background-color: #2E7204; /* Цвет фона при наведении */
    color: #fff; /* Цвет текста при наведении */
}


.checkbox-container {
    display: flex;
    align-items: center;
}

#show-password {
    margin-right: 5px;
    transform: scale(1.2); /* Увеличиваем размер чекбокса */
    appearance: auto; /* Включаем стандартное отображение чекбокса */
}

label {
    font-size: 14px;
    color: #333;
}

