body {
    font-family: 'Roboto Slab';
    background-color: #EFEBE9;
    /* text-align: center; */
    margin: 0;
    padding: 0;
}

.navbar-one {
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    background-color: #F5F4F3;
    padding: 0px 10px; 
}

.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
}

.navbar-one a {
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center; 
}

.navbar-one a:hover {
    color: #2E7204;
}

.navbar-one a#home {
    color: #2E7204; 
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #2E7204;
    margin: 4px;
}

.dropdown {
    display: none;
    flex-direction: column;
    background-color: #F5F4F3;
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 1;
}

.dropdown a {
    padding: 10px;
    text-align: left;
}

@media screen and (max-width: 768px) {
    .navbar-left, .navbar-right {
    display: none;
    }

    .hamburger {
        display: flex;
    }

    .navbar-one.active .dropdown {
        display: flex;
    }
}

.title{
    color: #2E7204;
    font-size: 48px;
    margin-top: 15px;
    margin-bottom: auto;
    text-align: center;
}

.subtitle{
    color: #000000;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: right;
}

.subtitle1{
    color: #2E7204;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: right;
}

.subtitle2{
    color: #2E7204;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: right;
}


.center-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.rounded-rectangle {
    background-color: #F6F6F6; /* Белый фон */
    padding: 20px;
    border-radius: 20px; /* Закругленные углы */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Легкая тень для эффекта */
    width: 60%; /* Прямоугольник занимает половину страницы */
    height: 400px;
    display: flex;
    /* align-items: center; */
    text-align: left;
    gap: 7px;
    flex-direction: row; /* Чтобы изображение и текст располагались горизонтально */
    align-items: flex-start;
}

.rounded-rectangle img {
    width: 100%;
    max-width: 300px; /* Ограничение максимальной ширины */
    border-radius: 20px; /* Закругленные углы для изображения */
    margin-bottom: 10px; /* Отступ снизу */
}

.info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex;
}

.name-of-number {
    text-align: left;
    font-size: 3rem; /* Размер текста */
    margin-bottom: 10px;
    margin-top: 0; /* Отступ сверху */
}

#number {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px; /* Увеличение промежутка между колонками */
}

.left-column, .right-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}

.subtitle, .subtitle1 {
    font-size: 2.5rem; /* Увеличиваем размер текста */
    text-align: center;
}

.reservation-link {
    font-size: 1.8rem; /* Увеличиваем размер текста */
    color: #2E7204;
    margin-top: auto; 
    padding: 10px 20px; /* Устанавливаем отступы */
    border: 2px solid #2E7204;
    display: inline-block; /* Делает обводку по ширине текста */
}

.reservation-link:hover {
    color: #000000; /* Цвет текста при наведении */
}

.footer {
    font-size: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer .left, footer.right {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 40px;
}
